@model WatchStoreWeb.Models.WatchModel
@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add to order" class="btn btn-default" />
        </div>
    </div>
}

