@model IEnumerable<WatchStore.DataAccess.Entities.Image>

<p>
    @Html.ActionLink("Create New", "Upload")
</p>


    @foreach (var item in Model)
    {
        <img src="data:image/png;base64,@Convert.ToBase64String(item.ImageData)" width="200" height="200"/>
    }


