@model WatchStore.DataAccess.Session.Cart

<div class="navbar-text navbar-right" onload ="document.refresh();">
    <b>@Html.ActionLink("Your Cart: ", "Index", new {returnUrl = Request.Url.PathAndQuery})</b>
    @*@Model.Count() item(s),
    @Model.Sum(w =>w.Warranty)*@
    @Model.CartLines().Sum(x => x.Quantity) item(s),
    @Model.ComputeTotalPrice().ToString("C")
</div>

